.navbar {
    padding: 0;
    text-align: center;
}

.barra-navegacao {
    padding: 0.5%;
}

.aps {
    font-weight: bold;
    padding: 0.5rem 0.5rem;
}

.explicacao-site {
    padding: 4% 7%;
    text-align: center;
    height: 300px;
}

.explicacao-site p {
    font-size: 1.5rem;
}

.logo-area {
    border-radius: 70%;
    padding: 5px;
    background-color: #023D71;
}

@media (max-width: 991px){
    .card {
        margin-bottom: 2rem;
    }
    .aps {
        font-size: 1.6rem;
    }
    .items-menu {
        font-size: 1.5rem;
        font-weight: bold;
    }
}

@media (min-width:540px) and (max-width:650px) {
    .aps {
        font-size: 1.3rem;
        padding: 0;
        margin: 0;
    }
    .logo-unip {
        width: 70px;
        height: 70px;
    }
}

@media (min-width:440px) and (max-width:540px) {
    .aps {
        font-size: 1.1rem;
        padding: 0;
        margin: 0;
    }
    .logo-unip {
        width: 50px;
        height: 50px;
    }
}

@media (min-width:350px) and (max-width:440px) {
    .aps {
        font-size: 0.9rem;
        padding: 0;
        margin: 0;
    }
    .logo-unip {
        width: 40px;
        height: 40px;
    }
}

@media (max-width:350px) {
    .aps {
        font-size: 0.7rem;
        padding: 0;
        margin: 0;
    }
    .logo-unip {
        width: 40px;
        height: 40px;
    }
}

/* energia */
.energia {
    padding: 5% 9%;
    text-align: left;
    background-color: #B3E6F5;
}

.energia-heading {
    text-align: center;
}

/* plantações */
.area-verde-e-solo {
    padding: 5% 9%;
    text-align: left;
    background-color: #bffaf0;
}

.area-verde-e-solo-heading {
    text-align: center;
}

/* clima */

.clima {
    padding: 5% 9%;
    text-align: left;
    background-color: #84c8ff;
}

.clima-heading {
    text-align: center;
}

.linha-cards {
    padding-top: 3rem;
}

.area-botao-leia-mais {
    text-align: center;
}

#footer {
    text-align: center;
    height: 15%;
    padding: 3% 25%;
}

#footer p {
    margin: 0;
}

.link-github {
    padding: 0 0.5rem; 
}